.recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    height: 100%;
}

#landing-header {
    background-color: #fbf8f9;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#welcome-container {
    width: 50%;
}

#welcome-container h1, #welcome-container p {
    text-align: right;
    margin-right: 10px;
}


#home {
    margin: 0 10px;
}

.categories-container {
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

#welcome-logo {
    background-color: #6e449c;
    background: linear-gradient(90deg, rgba(201,64,97,1) 0%, rgba(128,44,109,1) 35%, rgba(110,68,156,1) 58%, rgba(82,87,167,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

@media only screen and (max-width: 768px) {
    .recipes {
        grid-template-columns: 1fr;
    }

    #landing-header {
        height: 250px;
        flex-direction: column;
    }

    #welcome-container h1, #welcome-container p {
        text-align: center;
        margin-right: 0;
    }
}