.recipe-header {
    position: relative;
    height: 200px;
    width: 320px;
    background-size: cover;

}

.title-container {
    position: absolute;
    bottom: 0;
    background-color: lightgray;
    width: 100%;
}

.recipe-title {
    text-align: center;
}