@font-face {
    font-family: "Poppins-Regular";
    src: url(static/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-ExtraBold";
    src: url(static/fonts/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(static/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins-Light";
    src: url(static/fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: "Poppins-Medium";
    src: url(static/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url(static/fonts/Poppins-SemiBold.ttf);
}